.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
outputs/
outputs/match.noneq.correct.dat
match.noneq.correct.dat/
Analyses 9.5.25/
discard.code/
schoolfield_fits.pdf
weibull_fits.pdf
TempSummary.csv
modelling_dat.csv